.container {
  background-color: bisque;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.board {
  background-color: rgba(255, 255, 255, 0.835);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px 50px;
  text-align: left;
}

.del {
  background-color: rgba(255, 255, 255, 0.835);
  border: none;
  color: red;
  display: flex;
}
